.series-page .list-displayed{
    display:flex;
    justify-content: start;
    flex-wrap: wrap;
    gap:2rem;
}
.series-page{
    margin-top:5rem;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.series-page h1{
    color:white;
    margin-left:2.4rem;
}